# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Crossword creator.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Salat23\Crossword creator\.idea\.idea.Crossword creator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
